@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    background:url(bg.jpg) fixed;
    background-repeat:no-repeat;
    background-size:cover;
    text-transform: uppercase;
    text-align: center;
    color:#fff !important;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif !important;
    height:100%;
}
body a{
    text-decoration:none;
    color:#ffffff !important;
}
.vertical-center-row{
    width:100%;
    height:100%;
    display:table;
}
.middle-align{
    display:table-cell;
}
