@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    background:url(bg.jpg) center center fixed;
    background-repeat:no-repeat;
    background-size:cover;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
}
